<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
   
    <mat-sidenav-container fullscreen>    
        <mat-sidenav *ngIf="user" [opened]="isOpened" mode="side" >
            <app-side-navigation />
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">    
                <app-header *ngIf="user" (toggleSideNavEvent)="toggleSideNav($event)"></app-header> 
                <div [ngClass]="{ 'bg-light': user,
                'app-container':!user }">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>