/* You can add global styles to this file, and also import other style files */


:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
body{
    background: #f2f2f2;
    padding: 0;
    margin: 0;
}
.Login_box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Login_box .login_area{
    box-sizing: border-box;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 65px 55px 54px 55px;               
}
.Login_box .login_area .login_title{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 39px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 49px;
    font-weight: 700;
}
.Login_box .login_area .input_box{
    position: relative;
    margin-bottom: 20px;
}
.Login_box .login_area .input_box label{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    font-weight: 400;
}
.Login_box .login_area .input_box input{ 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}
.Login_box .login_area .input_box input:focus{ 
    border-bottom: 1px solid #666;
}
.Login_box .login_area .input_box .focus-input100{ 
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.Login_box .login_area .input_box .focus-input100::before{ 
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.Login_box .login_area .input_box .focus-input100::after{
    content: attr(data-symbol);
    font-family: Material-Design-Iconic-Font;
    color: #adadad;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}
.Login_box .login_area .forgot_text{
    padding-bottom: 31px;
    text-align: right;

}
.Login_box .login_area .forgot_text a{
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none;
}

.btn-hover {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 25px;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    /* background-image: linear-gradient(to right, #00dbde, #fc00ff); */
    background-image: linear-gradient(to right, #00dbde, #fc00ff, #fc00ff, #00dbde);
}

.btn-primary {
    color: #fff;
    background-color: #f49300!important;
    border-color: #f49300!important;
}
.btn-primary:active,.btn-primary:hover,.btn-primary:focus{

    background-color: #de8f16;
    border-color: #de8f16;
    -webkit-box-shadow: 0 0 0 0.15rem rgb(244, 147, 0,.5);
    box-shadow: 0 0 0 0.15rem rgb(244, 147, 0,.5);
}
#errorMessage{
    color:#e62e5c !important;
    position: relative;
}

#successMessage{
    color: #00b87a !important;
    position: relative;
}